DATABASE_URL="mysql://root:amitkumar@620299@localhost:3306/hotels"

USER_EMAIL=YOUR_EMAIL_HERE
EMAIL_APP_PASSWORD=YOUR_EMAIL_APP_PASSWORD_HERE

PORT=4000
JWT_SECRET="YOUR_JWT_SECRET"

FRONTEND_URL=your_frontend_url_here
FRONTEND_URL1=http://localhost:5173

# Cloudinary Credentials
CLOUD_NAME=your_cloud_name_here
CLOUD_API_KEY=your_cloud_api_key_here
CLOUD_API_SECRET=your_cloud_api_secret_here
CLOUD_FOLDER=your_cloud_folder_here
